@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 400px;
    background: #f9f9ff;
    z-index: 1;
}
.banner_content h1{
    font-family: "Roboto", serif;
    font-size: 36px;
    margin-top: 150px;
}
.banner_content h1, .page_link{
    display: flex;
    justify-content: center;

    align-items: center !important;
}
.page_link a, .page_link p{
    text-decoration: none;
    margin-right: 5px;
    color: #777777;
    font-family: "Roboto", sans-serif;
}
.shape{
    position: absolute;
    animation: glow 1s infinite alternate;
}
.shape1{
    top: 10%;
    left: 20%;
}
.shape2{
    top: 12%;
    right: 20%;
}
.shape3{
    top:50%;
    left: 10%;
}
.shape4{
    top: 70%;
    left: 22%;
}
.shape5{
    top:50%;
    right: 10%;
}
.shape6{
    top: 70%;
    right: 22%;
}
.shape7{
    right: 6%;
    top: 80%;
}

    .blinking{
      animation: blink-animation 1s linear infinite;
    }
    
    @keyframes blink-animation {
      50% {
        opacity: 0;
      }
    }