.forma {
    display: flex;
    flex-direction: column;
    background-color: #f9f9ff;
    padding: 110px 100px;
    width: 50%;
    font-family: "Roboto", sans-serif;
  }
  .reservation-button {
    background-color: #f42f2c;
    padding: 10px 30px;
    font-size: 13px;
    box-shadow: -14px 14px 60px rgba(244, 47, 44, 0.32);
    border-radius: 5px;
    width: 170px;
    margin-left: 30px;
    margin-top: 10px;
    color: #fff;
    border: 1px solid #f42f2c;
  }
  .forma label {
    margin-bottom: 10px;
  }
  .select {
    width: 200px;
  }
  .selectEv {
    width: 210px;
  }
  .reservation-button:hover {
    background-color: white;
    color: #f42f2c;
  }
  